* {
			box-sizing: border-box;
		}
		body {font-family: cursive;
			color: maroon;
		}
		h1 {
			text-align: center;
		}
		.main-container{
			width: 100%;
		}
		.box1{
			background-color: grey;
			margin-right: 5px;
			margin-left: 5px;
			border: 2px solid black;
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 30px;
			}
		.title1{
			background-color: #ffcc66;
            font-size: 100%;
	        float: right;
	        border: 1px solid black;
	        padding: 5px 50px 5px 50px;
            position: top-right;
	        margin-top: 0px;
	        margin-right: 0px;
	    }
	   p {
          font-size: 100%;
          padding: 5px;
          margin-top: 40px;
          margin-left: 20px;
          margin-right: 20px;
          margin-bottom: 5px;
	   }
  		.box2{
			background-color: grey;
			margin-right: 5px;
			margin-left: 5px;
			border: 2px solid black;
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 30px;
			}
		.title2{
			background-color: #ff9999;
            font-size: 100%;
	        float: right;
	        border: 1px solid black;
	        padding: 5px 50px 5px 50px;
            position: top-right;
	        margin-top: 0px;
	        margin-right: 0px;
	    }
	    .box3{
			background-color: grey;
			margin-right: 5px;
			margin-left: 5px;
			border: 2px solid black;
            margin-right: 15px;
            margin-left: 15px;
            margin-bottom: 30px;
			}
		.title3{
			background-color: #ff1a1a;
            font-size: 100%;
	        float: right;
	        border: 1px solid black;
	        padding: 5px 50px 5px 50px;
            position: top-right;
	        margin-top: 0px;
	        margin-right: 0px;
	    }
	    /******large devices*****/
	    @media(min-width: 992px) {
	    	.col-lg4, .col-md6, .col-md12{
	    		float: left;
	    		width: 33.33%;
	    	}
	    }
	    @media(min-width: 768px) and (max-width: 991px){
	    	.col-lg4, .col-md6 {
	    		float: left;
	    		width: 50%;
	    	}
	    	.col-md12 {
	    		width: 100%;
	    	}
	    }